@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.AppLight {
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F8FF;
}

.AppDark {
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141D2F;
}


